<footer class="footer">
  <div class="container">
    <nav class="footer__inner">
      <a href="" class="logo">
        <img  class="logo__img" src="images/logo.svg" height="46" width="55" alt="логотип сайта">
      </a>

      <ul class="footer__menu menu">
        <li class="menu__item">
          <a href="#body" class="menu__link">Главная</a>
        </li>
        <li class="menu__item">
          <a href="#catalog" class="menu__link">Товары</a>
        </li>
        <li class="menu__item">
          <button class="menu__link js-cart" type="button">
            Корзина
            <span class="menu__quantity">333</span>
          </button>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">Оптовым покупателям</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">Доставка</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">О нас</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>